.cardContainer {
    width: 95%;
    padding-bottom: 4rem;
    margin-bottom: 6rem;
    filter: drop-shadow(0px 162px 65px rgba(0, 0, 0, 0.01)) drop-shadow(0px 91px 55px rgba(0, 0, 0, 0.03)) drop-shadow(0px 40px 40px rgba(0, 0, 0, 0.04)) drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.05)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.05));
}

.hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all ease-in-out 0.4s;
}

.hover:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.num {
    position: absolute;
    top: -1rem;
    left: 1rem;
}   

.image {
    width: 22.5vw;
    height: fit-content;
    align-self: center;
    margin-left: -1rem;
    margin-top: 4rem;
}

.title {
    margin-bottom: 0.5rem;
}

.container {
    padding: 0 2rem;
    margin-top: 2rem;
}

.icon {
    height: 2rem;
    width: 2rem;
    color: white;
    margin-left: 0.75rem;
}

.tagsContainer {
    flex-wrap: wrap;
    padding: 0 2rem;
}

.tag {
    width: fit-content;
    border: 0.5px solid white;
    border-radius: 100px;
    margin-right: 0.25rem;
    padding: 1rem 1rem 0.5rem 1rem;
    margin-bottom: 0;
}

.test {
    background: blue;
}