.container {
    padding: 1rem 4rem 1rem 4rem;
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid black;
}

.logo {
    letter-spacing: 0.25rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.navItem {
    margin-right: 4rem;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.navItem:hover {
    color: black;
}