html, body
{
  height: 100vh;
  max-width: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background: linear-gradient(0deg, rgba(238,243,244,0.25), rgba(238,243,244,0.25)), url('./assets/images/backgrounds/gradient.svg');
}

a
{
  text-decoration: none;
  color: inherit;
}

li
{
  list-style: none;
}

body
{
  overflow-x: hidden;
}