@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: FoundersRegular;
  src: url('../public/fonts/FoundersGrotesk/foundersgrotesk-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: Ogg;
  src: url('../public/fonts/Ogg/ogg-roman-webfont.woff') format('woff');
}

@font-face {
  font-family: FoundersLight;
  src: url('../public/fonts/FoundersGrotesk/foundersgrotesk-light-webfont.woff') format('woff');
}

@font-face {
  font-family: FoundersLightItalic;
  src: url('../public/fonts/FoundersGrotesk/foundersgrotesk-lightitalic-webfont.woff');
}

@layer base {
  body {
    @apply bg-lightblue dark:bg-slate-900 text-black dark:text-white transition-all
  }

  h1 {
    @apply font-ogg text-7xl xl:text-70 py-12
  }

  h2 {
    @apply font-ogg uppercase text-36
  }

  main {
    @apply w-2/4 mx-auto my-10 xl:w-2/3
  }

  p {
    @apply font-foundersLight text-24 
  }

  li {
    @apply font-foundersLight text-18 
  }

  ul {
    @apply flex justify-between mt-4 mb-n10
  }
}