@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Avenir;
  src: url('../public/fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: AvenirBold;
  src: url('../public/fonts/AvenirNextLTPro-Bold.otf');
}

@font-face {
  font-family: Sanford;
  src: url('../public/fonts/Sanford-0103_demo.ttf');
}

@layer base {

  main {
    @apply flex flex-col items-center w-full h-fit mx-auto xs:px-0 md:px-10 space-y-10 bg-white dark:bg-[#151515]
  }

  section {
    @apply xs:w-[90%] md:w-[65%]
  }

  h1 {
    @apply font-sanford text-4xl leading-8
  }

  h2 {
    @apply font-sanford text-2xl leading-8
  }

  h3 {
    @apply font-avenir
  }

  p {
    @apply font-avenir text-black/75 text-lg
  }

  input {
    @apply w-full p-4 rounded-xl bg-[#FAFAFF] outline-none
  }

  textarea {
    @apply p-4 rounded-xl h-[20vh] bg-[#FAFAFF] outline-none
  }
}

@layer components {
  .smallLogo {
    @apply w-[50px] h-[50px]
  }

  .headerItem {
    @apply font-avenir hover:text-[#3C4FC0] dark:hover:text-[#A5C3F3] mt-[0.2rem] relative dark:text-white w-fit
  }

  .headerActive {
    @apply font-avenir text-[#3C4FC0] dark:text-[#A5C3F3] mt-[0.20rem] relative w-fit
  }

  #submit {
    @apply text-center hover:cursor-pointer hover:scale-105
  }
}

* {
  transition: 0.1s all ease;
}

html {
  scroll-behavior: smooth;
}

.error::-webkit-input-placeholder {
  color: red;
}